{% load static %}

<li>
    <article class="post">
        <a href="">
            <img src="{% static "blog/images/beach.jpg" %}" alt="Beach Hiking" />
            <div class="post__content">
                <h3>Beach Hiking</h3>
                <p>
                    There's nothing like the views you get when hiking on the beach! 
                    And I wasn't even prepared for what happend whilst I 
                    was enjoying the view!
                </p>
            </div>  
        </a>    
    </article>
</li>